
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>NEWTESC TECNOLOGIA E COMERCIO</title>
	<!--

	Letter Template

	https://templatemo.com/tm-510-letter



	Template Re-distribution is NOT allowed.

	-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/login.css">



</head>

<body style="background:#1c1c1c;" >


	<div  style=" display:flex; justify-content:space-between">
		<div class="container" style="max-width:400px; color:#fff">
			
				<header class="text-light mb-3"><h1>NEWTESC</h1></header>
			<P style="max-width:400px; color:#fff" mb-3 text-light">
					Desenvolvemos os melhores produtos e soluções para a área de Mobilidade Urbana, Automação de Rodovias, processamento, emissão, digitalização, microfilmagem e envelopamento de autos de infração oriundos de equipamentos eletrônicos e manuais, lombada eletrônica educativa, entre outros.
				</P>
			<P style="max-width:400px; color:#fff" mb-3 text-light">
					Somos uma empresa que acredita na importância de estar à frente do nosso tempo. A qualidade, tecnologia, confiabilidade, o cuidado e a transparência estão em nosso DNA.
				</P>
				
			
		
		</div>
		<div >

			<img class="img-login" src="~/icones/logo.png" alt="Logo" />
            <main>



             
                       

                        <select name="Estado">
                            <option value="SP">São Pauo</option>
					<option value="MAO">Manaus</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="To">Tocantins</option>
                        </select>
                   
            </main>
		</div>
	</div>
</body>

</html>
