*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root {
    --cor-primaria: #212A3E;
    --white-100: #FFFAFA;
}

html {
  font-size: 14px;
}



body {
    margin-bottom: 60px;
    background: #FFFAFA
}